body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

#root {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.suggestButton{
  background-color: #ff5757;
  border: 1px solid #ff5757;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  width:100%;
  box-sizing: border-box;
}
.suggestButton.disabled {
  background-color: #cccccc;
  border: 1px solid #333;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}
.helloButton{
  background-color: #ff5757;
  border: 1px solid #ff5757;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  cursor: pointer;
  transition: all 0.3s;
  width:100%;
  box-sizing: border-box;
}
.activity-info {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}